<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#"><i class="fad fa-joint fa-2x"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="listenav" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Liste des soirées</a>
                <div class="dropdown-menu" id="test" >
                    <!--todo ajouter les soirée ici !!!-->
                    <a class="dropdown-item" href="#">soirée 1</a>
                    <a class="dropdown-item" href="#">soirée 2</a>
                    <a class="dropdown-item" href="#">cherchez pas ça marche pas</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">supprimer soirée</a>
                </div>
            </li>
            <a class="nav-link" id="nomsoireetitre">Antoine Deyris Timothée Delamare Yohann Durel</a>
            <!--<h1 id="nomsoireetitre">*NOM DE LA SOIREE*</h1>-->
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Ajouter une soirée">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Ajouter</button>
        </form>
    </div>
</nav>