{% extends 'base.html.twig' %}

{% block body %}

<h1>
    Supprimer une personne
</h1>
    <h2>Etes-vous sur de vouloir supprimer {{ personne.prenom }} ?</h2>
    {{ form(formulaire) }}
    <a class="btn btn-warning" href="{{ path("personne") }}">Retour à la liste</a>
{% endblock %}
